@model SwordLMS.Web.Models.ForgetPassword



<div class="Fixed-container ">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form asp-action="DoForgetPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <p class="text-white-50 mb-5">Forget Password? Enter Register Email Address</p>
                            <div class="form-outline form-white mb-4">
                            <div>

                                @if (TempData["EmailErr"] != null)
                                {
                                    @TempData["EmailErr"]
                                }
                            </div>

                            <div>
                                @if (TempData["MailMessage"] != null)
                                {
                                    @TempData["MailMessage"]
                                }
                            </div>


                         
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <br />

                                <input type="submit" value="Send" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />


                            @*<p class="mb-0">Back to login <a asp-action="Login" class="text-white-50 fw-bold" style="color:#212529!important">Login</a></p>*@
                           @* <p class="mb-0">Back to <a asp-action="Login" class="text-white-50 fw-bold" style="color: #fff!important;"> Login</a></p>*@
                                <p class="mb-0">Back to <a asp-action="Login" class="text-white-50 fw-bold" style="color: #fff!important;">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

