@{
    ViewData["Title"] = "Admin View";
}
<a class="text-center"></a>


<h1> Admin Dashboard</h1>


<class asp-action="HomePage"></class>

<div class="from-group"></div>

<div> Welcome @TempData["UserName"]</div>