@model SwordLMS.Web.Models.ResetPassword




<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form asp-action="DoResetPassword">


                             <div class="mb-md-5 mt-md-4 pb-5">
                               
                            <div>
                                @if (TempData["PasswordChanged"] != null)
                                {
                                    @TempData["PasswordChanged"]
                                    ;
                                }
                            </div>

                            <div>
                                @if (TempData["PasswordErr"] != null)
                                {
                                    @TempData["PasswordErr"];
                                }
                            </div>

                              
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Email" class="form-control" />
                            <input type="hidden" asp-for="Token" class="form-control" />

                                <div class="form-outline form-white mb-4">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                                <div class="form-outline form-white mb-4">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        
                       
                     
                                <input type="submit" value="Submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />
                        

                            
                            <p class="mb-0">Back to <a asp-action="Login" class="text-white-50 fw-bold" style="color: #fff!important;">Login </a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
  
</section>