
@model CategoryModelView


@{
    TempData["title"] = "Subcategory Page";

}

<div class="row" style="margin-left:77px">

    <h2>Subcategories</h2>

    @foreach (var item in Model.subCategories)
    {
        <section class="col-lg-4 col-md-5 py-3">

            <div class="card-group">
                <div class="card" style="width:300px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                </div>

            </div>
        </section>

      



    }







    @foreach (var skill in Model.skills)
    {
        <section class="col-lg-4 col-md-5 py-3">

            <div class="card-group">
                     <div class="card" style="width:300px;">
                        <div class="card-body">
                        <h5 class="card-title"> @skill.Name</h5>
                    </div>
                </div>

            </div>
        </section>

    }

    </div>