@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
  
}

    <div class="" style="margin-left:25px">
        @ViewBag.Welcome
    @await Component.InvokeAsync("MyComponent")
    </div>
 
   