html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.h4{
    margin-top:22px;
    margin-bottom:22px;
}

.Sub {
    margin-top: 10px;
    margin-bottom:5px;
}

.small {
    width: 125px;
}

.two2{
   width: 756px;
}

.container{
    max-width:854px;
    
}

.layout-set {
    margin-left: 20px;
}
.container-warpper {
    width: 43%;
}

container-wrapper2{
    width:43%;
}

/*ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;*/
    /* make the list items unselectable */
  /*  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
/*}*/

.three {
    width: 756px;
}
.five5 {
    margin-top: 50px;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 25px;
    margin-right: 35px;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    //line-height: 2.15;
    line-height: 4.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

img {
    vertical-align: revert;
    width: 35%;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
    margin-top: 13px;
    font-size: 18px;
}

.col-md-8 {
    width: 50.666667%;
}

.accordion-button {
    font-size: 18px;
}

.accordion-header {
    margin-bottom: 2px;
    margin-top: 1px;
}

.col-md-8 {
    width: 48.666667%;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
    width: 104%;
    border: 2px solid #c2bcbc;
}
.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 2px 4px;
    margin: 6px 0;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 10px;
}


table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: solid #adb5bd;
}


table th, table td {
        padding: 8px;
        text-align: left;
    }




.text-muted {
    --bs-text-opacity: 1;
    color: #fff !important;
}
.three3 {
    width: 553px;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 3px 4px;
    margin: 1px 0;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #212529;
    background-color: #fff;
    padding: 5px 20px 5px 5px;
    margin-top: 1px;
    font-size: 14px;
    color: black;
    outline: none;
    white-space: nowrap;
}

.card {
    min-width: 212px;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0px 1px;
}

td {
    border: 0px solid #adb5bd;
}