@using System.Security.Claims;



@model IEnumerable<SwordLMS.Web.Models.Course>
@{

}

<div class="row" style="margin-left: 40px;">

@foreach (var item in Model)
{
    <section class="col-lg-3 col-md-5 py-3">

    <div class="card" style="width: 18rem;">
                <img src="~/CourseContents/@item.DisplayImagePath" class="card-img-top" alt="img-fluid img-thumbnail" height="135">
        <div class="card-body1" >
          <h5 class="card-title">@item.Name</h5>
                  
       </div>
       </div>
      
        </section>
}
      </div>


      